<script>
  export let type;
  export let budget;

  const types = {
    income: {
      type: "income",
      source: "Источник дохода",
      cost: "Стоимость",
      style: "getTable",
    },
    outcome: {
      type: "outcome",
      source: "Цель расхода",
      cost: "Стоимость",
      style: "payTable",
    },
  };

  console.log("---budget--", budget);
</script>

<section>
  <div class={types[type].style}>
    <table class="bp3-html-table">
      <thead>
        <tr>
          <th class="dash_bottom">{types[type].source}</th>
          <th class="dash_bottom">{types[type].cost}</th>
        </tr>
      </thead>
      <tbody>
        {#each budget[type].logs as log (log.created_at)}
          <tr>
            <td>{log.title}</td>
            <td>{log.money}</td>
          </tr>
        {/each}
      </tbody>
      <tfoot>
        <tr>
          <td class="dash_top" colSpan="1">Всего</td>
          <td class="dash_top">{budget[type].total}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</section>

<style>
  .getTable {
    background: #aaf0d1;
  }

  .payTable {
    background: rgba(255, 0, 0, 0.4);
  }
  .dash_top {
    border-top: 1px dashed black;
  }
  .dash_bottom {
    border-bottom: 1px dashed black;
  }
</style>
