<script>
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();

  $: _result = [];

  async function handleGet() {
    const request = {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    };

    await fetch("/gateway/media_objects", request)
      .then((res) => {
        res.json().then((response) => {
          const { body } = response;
          const { status, success, result } = body;

          console.log("---client result---", result);

          _result = result;

          dispatch("getData", result);
        });
      })
      .catch((err) => {
        console.err("POST error", err.message);
      });
  }
</script>

<button on:click={() => handleGet()}>Получить данные</button>
<h2>Всего учтено</h2>
<h3 class="red">{_result.length} транзакций</h3>
