<script>
  import CountForm from "../lib/features/CountForm/CountForm.svelte";
  import TableTotal from "../lib/features/TableTotal/TableTotal.svelte";
  import GetAll from "../lib/features/GetAll/GetAll.svelte";
  import Calendar from "../lib/features/Calendar/Calendar.svelte";

  $: allLogs = [];


  let budget = {
    income: {
      total: 0,
      logs: [],
    },
    outcome: {
      total: 0,
      logs: [],
    },
  };

  $: formedBudget = budget;
  $: remains = 0;

  const countAll = (budget) => {
    const { income, outcome } = budget;

    let incomeTotal = 0;
    income.logs.map((log) => {
      incomeTotal = incomeTotal + log.money;
    });
    budget.income.total = incomeTotal;
    // console.log("---incomeTotal--", incomeTotal);

    let outcomeTotal = 0;
    outcome.logs.map((log) => {
    // console.log("---log--", log);
      outcomeTotal = outcomeTotal + log.money;
    // console.log("---outcomeTotal--", outcomeTotal);
    });
    budget.outcome.total = Math.floor(outcomeTotal);
    // console.log("---outcomeTotal--", outcomeTotal);

    // formedBudget = Math.floor(budget);
    formedBudget = budget;
    // console.log('---budget--', budget);
  };

  const addLog = (log) => {
    // console.log("---log--", log);
    const { detail: _log } = log;
    // console.log("---_log--", _log);
    const { type = false } = _log;

    if (type) {
      budget.income.logs.push(_log);
    } else {
      budget.outcome.logs.push(_log);
    }

    countAll(budget);
    countRemains(budget);
  };

  const countRemains = (budget) => {
    const { income, outcome } = budget;

    remains = income.total - outcome.total;
    // console.log("---remains--", remains);
  };

  const getData = async (data) => {
    const { detail } = data;
    allLogs = detail;

    detail.map((log) => {
      const { type } = log;

      if (type) {
        budget.income.logs.push(log);
      } else {
        budget.outcome.logs.push(log);
      }

      countAll(budget);
      countRemains(budget);
    });

    // console.log("---detail--", detail);
  };

  // let moneys = 0;
</script>

<svelte:head>
  <title>Budget Helper App</title>
  <meta name="description" content="Budget Helper App" />
  <link rel="icon" href="/budget.ico" />
</svelte:head>
<div class="container">
  <section>
  <h1 class="title">Добро пожаловать в ваш помощник по бюджету!</h1>

  <GetAll on:getData={getData} />

  <main class="main">
    <div class="operationBlock">
      <TableTotal type="income" budget={formedBudget} />

      <div class="counterBlock">
        <CountForm on:addLog={addLog} />
      </div>
      <TableTotal type="outcome" budget={formedBudget} />
    </div>
    <h2>Остаток</h2>
    <h3 class="red">{remains}</h3>
  </main>
</section>
</div>
<Calendar logs={allLogs} />

<!-- <form on:submit|preventDefault={handleSubmit}>
  <label for="money">Moneys</label>
  <input required id="money" type="number" bind:value={moneys} />
  <input type="submit" value="Upload money" />
</form> -->
<style>
  .container {
    /* min-height: 100vh; */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }

  /* .main {
    width: 100%;
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */

  .operationBlock {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .counterBlock {
    width: 100%;
    margin: 0 10px;
  }

  .red {
    color: #c23030;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  h1 {
    width: 100%;
  }
</style>
