<script>
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();

  let logType = false;
  let logValue = "";
  let logTitle = "";
  let logDate = Date.now();
  let logDescription = "";

  let logRegularMonth = 1;
  let logRegularWeek = 1;
  let logRegularDay = 1;

  async function handleSubmit(form) {
    const {
      logType,
      logTitle,
      logValue,
      logDate,
      logRegularMonth,
      logRegularWeek,
      logRegularDay,
    } = form;

    const date = new Date(logDate).getTime() / 1000

    const body = {
      type: logType,
      title: logTitle,
      money: logValue,
      date,
      regular: {
        days: logRegularDay,
        months: logRegularMonth,
        weeks: logRegularWeek,
      },
      created_at: Date.now(),
    };

    // console.log("---logType---", logType);
    const request = {
      method: "POST",
      body: JSON.stringify(body),
      headers: {
        "Content-Type": "application/json",
      },
    };

    await fetch("/gateway/media_objects", request)
      .then((res) => {
        res.json().then((response) => {
          const { body } = response;
          const { status, success, result } = body;

          // console.log("---client result---", result);

          dispatch("addLog", result);
        });
      })
      .catch((err) => {
        console.err("POST error", err.message);
      });
  }
</script>

<section>
  <div class="input-group">
    <p>Транзакция</p>
    <label for="setType">
      <input type="checkbox" name="type" id="setType" bind:checked={logType} />
      Входящая/исходящая транзакция</label
    >
    <input
      class={`input_item_transacation_title`}
      placeholder="Зарплата"
      bind:value={logTitle}
    />
    <input
      class={`input_item_transacation`}
      type="number"
      placeholder="45 000"
      bind:value={logValue}
    />
    <input class={`input_item_transacation`} type="date" bind:value={logDate} />
    <input
      class={`input_item_transacation`}
      placeholder="В этом месяце без премии"
      bind:value={logDescription}
    />

    <div class="input-group input-group__regular">
      <span> Регулярная транзакция (TODO)</span>

      <label for="setRegularMonth">
        <input
          id="setRegularMonth"
          class={`input_item_transacation`}
          type="number"
          placeholder="3"
          bind:value={logRegularMonth}
        />Количество месяцев в году</label
      >
      <label for="setRegularWeek">
        <input
          id="setRegularWeek"
          class={`input_item_transacation`}
          type="number"
          placeholder="4"
          bind:value={logRegularWeek}
        />Количество недель в месяце</label
      >
      <label for="setRegularDay">
        <input
          id="setRegularDay"
          class={`input_item_transacation`}
          type="number"
          placeholder="1"
          bind:value={logRegularDay}
        />Количество дней в неделе</label
      >
    </div>

    <spam class="red">Можно указать несколько транзакций по очереди</spam>
    <button
      on:click={() =>
        handleSubmit({
          logType,
          logTitle,
          logValue,
          logDate,
          logDescription,
          logRegularMonth,
          logRegularWeek,
          logRegularDay,
        })}>Добавить в бюджет</button
    >
  </div>
</section>

<style>
  .container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .main {
    width: 100%;
    padding: 5rem 0;
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input-group {
    background-color: #fff;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    margin: 0 0 15px;
  }
  .input-group__regular {
    margin: 5px 0;
    padding: 0;
    background-color: rgb(243, 243, 243);
  }

  .red {
    color: #c23030;
  }
</style>
