<script>
  import calendarHelper from "../../../helpers/calendarHelper.js";
  export let logs;

  let yearData = [];
  let openDay = false;

  let clickedDayInfo = [];

  const _yearData = calendarHelper();
  yearData = _yearData;

  const getDayInfo = (day) => {
    const { timestamp } = day;
    const endOfTheDay = timestamp + 24 * 60 * 60;

    const dayLogs = [];

    logs.map((log) => {
      const { date } = log;

      if (timestamp < date && date < endOfTheDay) {
        // console.log("----log---", log)
        // console.log("----timestamp---", timestamp)
        // console.log("----date--------", date)
        // console.log("----endOfTheDay---", endOfTheDay)

        dayLogs.push(log);
      }
    });

    clickedDayInfo = dayLogs;
    openDay = true;
    // console.log("----dayLogs---", dayLogs)
  };
</script>

<div class="container">
  <section>
    <!-- <div class="container-calendar"> -->
    {#if openDay}
      <button
        on:click={() => {
          openDay = false;
        }}
      >
        <span class="day-name">Вернуться к календарю</span>
      </button>
      <p>Hello There!</p>
      <div class="day-info">
        <div class="day-in">
          {#each clickedDayInfo as log}
            {#if log.type}
              <div>
                <span class="log-name">{log.title}</span>-
                <span class="log-money">{log.money}</span>
              </div>
            {/if}
          {/each}
        </div>
        <div class="day-out">
          {#each clickedDayInfo as log}
            {#if !log.type}
              <div>
                <span class="log-name">{log.title}</span>-
                <span class="log-money">{log.money}</span>
              </div>
            {/if}
          {/each}
        </div>
      </div>
    {:else}
      {#each yearData as month (month.num)}
        <div class="month">
          <p class="month-name">{month.name}</p>
          <div class="days">
            {#each month.days as day}
              <div>
                <button
                  on:click={() => {
                    getDayInfo(day);
                  }}
                >
                  <span class="day-name">{day.num}</span>
                </button>
              </div>
            {/each}
          </div>
        </div>
      {/each}
    {/if}
    <!-- </div> -->
  </section>
</div>

<style>
  .container {
    /* min-height: 100vh; */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }

  .month {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    /* width: 300px; */
  }

  .days {
    display: flex;
  }

  .month-name {
    color: red;
  }
  .day-name {
    color: blue;
  }
  .day-info {
    display: flex;
  }
  .day-in {
    background-color: rgb(220, 255, 225);
  }
  .day-out {
    background-color: rgb(255, 220, 220);
  }
</style>
